extends layout
block content
    div(class="container")
        div(class="row")
            div(class="col")
                h1 Github repo map
            div(class="col")
                form(class="form" id="userForm" action="/test")
                    input(type="text" placeholder="username" class="input" id="username" value="lastlegion")
                    input(type="Submit" class="btn btn-success" value="Go" id="Go") 

        div(class="row")
            div(id="display")
            

    div(class="modal") Loading...