doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/colorbrewer.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js")
    script(src="/javascripts/colorbrewer.js")    
    
    script(src="/javascripts/draw.js")
  body
    block content